
h1{
    text-align: center;
    font-family: "Comic Sans MS", cursive,sans-serif;
}
h2{
    padding-left: 20px;
}
img
{
    padding-left: 20px;
}
#aspect
{
    font-size: 20px;
    font-weight: bold;
}
.colourGreen
{
  color:green;
}
.hide{
  display:none;
}
